body {
  font-family: Arial, sans-serif;
  background-color: #3d3d3d;
}
h1 {
  color: white;
}
p {
  color: white;
}

header {
    background-color: #2d2d2d;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

.news-tile {
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #2d2d2d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
    color: white;
    width: 700px;
}

.news-tile:hover {
  transform: translateY(-5px); /* Эффект поднятия плитки при наведении */
}

.news-title {
  padding: 10px;
  text-align: center;
  background-color: #2d2d2d;
  border-bottom: 1px solid #ccc;
  color: white;
}

.news-image {
  max-width: 400px;
  max-height: 500px;
  object-fit: cover;
}

.news-details {
  display: none; /* Изначально детали скрыты */
  padding: 10px;
  background-color: #2d2d2d;
  color: white;
}

.tile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 500vh;
    max-width: 500vh;
}

.details-visible {
  display: block; /* Показать детали при добавлении класса */
}

.profile-inflabel {
  max-width: 200px; /* Ширина кнопки */
  max-height: 200px; /* Высота кнопки */
  border-radius: 20px; /* Закругление углов */
  overflow: hidden; /* Скрытие переполнения */
  border: 1px solid #ccc; /* Граница кнопки */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень */
  text-align: center; /* Центрирование текста */
  font-family: Arial, sans-serif; /* Шрифт */
  transition: transform 0.2s; /* Плавный эффект при наведении */
}

.profile-inflabel:hover {
  transform: scale(1.05); /* Увеличение при наведении */
}

.profile-inftext {
  padding: 10px; /* Отступы текста */
  font-size: 16px; /* Размер шрифта */
  color: white; /* Цвет текста */
}

.profile-image {
  max-height: 150px; /* Ширина изображения */
  max-width: 150px; /* Высота изображения */
  object-fit: cover; /* Обтяжка изображения */
}

.profile-container {
    display: flex; 
    grid-gap: 20px; 
    align-items: center; 
    justify-content: center;
    margin: 15px;
}

button {
    background-color: #1e1e1e; /* Цвет кнопки */
    color: #ffffff; /* Цвет текста */
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* Плавный переход */
    margin: 7px;
}

button:hover {
    background-color: #3a3a3a; /* Цвет кнопки при наведении */
    transform: scale(1.05); /* Увеличение кнопки при наведении */
}

button:active {
    transform: scale(0.95); /* Уменьшение кнопки при нажатии */
}
